.recommendedProductSlider {
	/* padding-left: 50px; */
	padding-bottom: 30px !important;
}
.recommendedProductSlider .swiper-pagination > .swiper-pagination-bullet {
	opacity: 1;
	background-color: #d6d5d6;
}
.recommendedProductSlider .swiper-pagination > .swiper-pagination-bullet-active {
	background-color: #FF6A00;
	/* background-color: #4b4d4e; */
}

.recommendedProductSlider .swiper-button-prev, .recommendedProductSlider .swiper-button-next {
    background-color: #fff5e0;
    color: #000;
    border-radius: 50%;
    padding: 3px 22px;
	transition: all 200ms ease-in-out;
    /* color: #CB11AB; */
}
.recommendedProductSlider .swiper-button-prev::after, .recommendedProductSlider .swiper-button-next::after {
    font-size: 16px;
}

.recommendedProductSlider .swiper-button-prev:hover, .recommendedProductSlider .swiper-button-next:hover {
	background-color: #fff;
    /* color: #CB11AB; */
}
@media (max-width: 480px) {

	.recommendedProductSlider .swiper-button-prev, .recommendedProductSlider .swiper-button-next  {
		display: none;
	}

}