.VISA.medium {
    background: url(https://ir.ebaystatic.com/cr/v/c01/payment-sprites/payment-sprites-0.2.4.svg) 84.7522123894% 47.3317865429% no-repeat;
    height: 34px;
    width: 52px;
    display: inline-block;
    vertical-align: middle;
}
